<!-- If the user is not connected, show the username input page -->
<div *ngIf="!isConnected" id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username to join the Chatroom</h1>

    <!-- Form to input the username -->
    <form (ngSubmit)="connect()">
      <div class="form-group">
        <input 
          [(ngModel)]="username" 
          name="username" 
          type="text" 
          id="name" 
          placeholder="Username" 
          autocomplete="off" 
          class="form-control" 
        />
      </div>

      <!-- Button to submit the username and connect to the chat -->
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<!-- If the user is connected, show the chatroom interface -->
<div *ngIf="isConnected" id="chatroom">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Spring Boot WebSocket Demo App!</h2>
    </div>

    <!-- Display the connection status message (if any) -->
    <div *ngIf="connectingMessage" class="connecting">{{ connectingMessage }}</div>

    <!-- Display the list of messages -->
    <ul id="messageArea">
      <li *ngFor="let message of messages" [ngClass]="{'event-message': message.type !== 'CHAT', 'chat-message': message.type === 'CHAT'}">
        <!-- Avatar with background color based on the first letter of the sender's name -->
        <i *ngIf="message.type === 'CHAT'" [style.backgroundColor]="getAvatarColor(message.sender)">
          {{ message.sender.charAt(0) }}
        </i>

        <!-- Sender's name and message content -->
        <!-- <span *ngIf="message.type === 'CHAT'">{{ message.sender }}</span> -->
        <p>{{ message.type === 'CHAT' ? message.content : message.sender + ' ' + (message.type === 'JOIN' ? 'joined!' : 'left!') }}</p>
      </li>
    </ul>

    <!-- Form to type and send new chat messages -->
    <div class="message-input">
      <!-- Message input field (only visible if the user is connected) -->
      <input 
        *ngIf="isConnected" 
        type="text" 
        [(ngModel)]="message" 
        placeholder="Type a message" 
      />
      
      <!-- Button to trigger emoji picker (only visible if the user is connected) -->
      <!-- <button *ngIf="isConnected" #emojiTrigger (click)="toggleEmojiPicker()">😊</button> -->
      <button *ngIf="isConnected" #emojiButton (click)="toggleEmojiPicker()">😊</button>
      <!-- Emoji Picker (only visible when toggle is true) -->
      <div *ngIf="showEmojiPicker && isConnected" #emojiButton></div>

      <!-- Send button (only visible if the user is connected) -->
      <button *ngIf="isConnected" (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
